body{
    font-family: 'Poppins';
}

.cabecalho{
    display: flex;
    justify-content:space-between;
    padding: 30px;
    max-width:1440px;
    margin: 0 auto;
}

.cabecalho .logo {
    width: 65px;
}

.cabecalho .menu {
    display: flex;
    align-items: center;
    height: 100%;
}

.cabecalho nav li a {
    font-weight: bold;
    color: rgb(255, 255, 255);
    font-size: 25px;
    padding: 10px 20px;
    border-radius: 50px;
    transition: 0.2s;
}

.cabecalho nav li a:hover {
   background-color: rgb(175, 21, 42);
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    align-items:center;
    height: 700px;
    padding: 0 30px 30px;
    
}

.container .informacoes .imagem-título{
    max-width: 500px;
    background: linear-gradient(90deg, rgb(175, 21, 42) 0%, rgb(78, 10, 20) 49%, rgb(175, 21, 42)100%);
    border-radius: 50px;
}

.container .descricao {
    color: rgb(255, 255, 255);
    width:85%;
    font-size:18px;
    margin:30px 0

}

.container .botao-saiba-mais{
    background-color: rgb(175, 21, 42);
    color: rgb(255, 255, 255);
    padding:15px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    border: none;
    text-transform: uppercase;
    transition: 0.2s all ease-in-out;
    border-radius: 50px;
}

.container .botao-saiba-mais:hover{
    transform: scale(1.1)
}

.container .personagens {
    opacity: 75%;
}


.fundo-video {
    position:absolute;
    z-index: -1;
    width:100vw;
    height:100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    
}

.fundo-video .video{
    height:100vh;

}

.fundo-video::after{
    content:"";
    background-color:rgb(175, 21, 42);
    height: 100vh;
    width: 100vw;
    position:absolute;
    top: 0;
    left: 0;
    background: linear-gradient(90deg, rgba(0,0,0,1) 10%, rgba(0,0,0,0.8) 50%, rgb(0, 0, 0) 70%);
}

.modal {
position: fixed;
width:100vw;
height:100vh;
top:0;
left:0;
background-color: rgba(52,52,50,0.749);
visibility:hidden;

}

.conteudo-modal{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height:100vh;
    border-radius: 5px;
    gap:15px;

}

.fechar-modal{
    background-color:rgb(175, 21, 42);
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 20px;
    width:40px;
    text-align:center;
    cursor: pointer;
    border-radius:10px;
}

.modal iframe{
    border-width:none;
    height: 360px;
    width: 600px;
}

.modal.aberto{
    opacity: 1;
    visibility: visible;
}

